*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.log
*.fdb_latexmk

five_rings/
questions/
putnam/
calculus_geometry/
options/
probability_statistics/
linear_algebra/
classes/
deep_learning/
machine_learning/
_minted-main/

.DS_Store
*.xml
*.gz

__pycache__/
